<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>@ViewBag.Title - ABM Distribuidora</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<nav class="no-shadows blue darken-3">
		<div id="main-navbar" class="nav-wrapper row">
			<div class="nav-wrapper col s2 m2 l1">
				<a href="#" data-target="main-menu" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
			</div>
			<div class="nav-wrapper col s4 m4 l8">
				<form>
					<div class="input-field indigo lighten-3">
						<input id="search" type="search" required>
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</div>
			<div class="nav-wrapper col s2 m2 l1">
				<a href="#">
					<div class="row">
						<div class="col s6 m6 l6 right-align">
							<i class="material-icons">shopping_cart</i>
						</div>
						<div class="col s6 m6 l6 left-align">
							<text id="shopping-cart-quantity">(0)</text>
						</div>
					</div>
				</a>
			</div>
			<div class="nav-wrapper col s4 m4 l2">
				<a href="#">
					<div class="row">
						<div class="col s4 m4 l4 right-align">
							<i class="material-icons">person</i>
						</div>
						<div class="col s8 m8 l8 left-align">
							<text id="customer-name">Vicente</text>
						</div>
					</div>
				</a>
			</div>
		</div>
	</nav>
	<div id="content-wrapper-before">
	</div>
	<div id="main" class="container body-content">
		<ul class="sidenav" id="main-menu"></ul>
		@RenderBody()
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/materialize")
	@RenderSection("scripts", required: false)
	<script>
		$(document).ready(function () {
			$('.sidenav').sidenav();
		});
	</script>
</body>
</html>
