<!DOCTYPE html>
@{ 
    var usuario = (ABM.Datos.SQL.TBL_USUARIO)Session["Usuario"];
}
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>@ViewBag.Title - ABM Distribuidora</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/materialize")
	@RenderSection("scripts", required: false)
</head>
<body>
	<ul id="dropdown1" class="dropdown-content">
		<!-- TODO Ver si faltan categorías en la navbar -->
		<li><a href="#!" style="color: black">Herramientas</a></li>
		<li><a href="#!" style="color: black">Neumáticos</a></li>
		<li><a href="#!" style="color: black">Llantas</a></li>
		<li><a href="#!" style="color: black">Llaves</a></li>
		<li><a href="#!" style="color: black">Martillos</a></li>
		<li><a href="#!" style="color: black">Luces</a></li>
	</ul>
	<ul id="dropdown2" class="dropdown-content">
		<li><a href="#!" style="color: black">Herramientas</a></li>
		<li><a href="#!" style="color: black">Neumáticos</a></li>
		<li><a href="#!" style="color: black">Llantas</a></li>
		<li><a href="#!" style="color: black">Llaves</a></li>
		<li><a href="#!" style="color: black">Martillos</a></li>
		<li><a href="#!" style="color: black">Luces</a></li>
	</ul>


	<nav id="main-nav-mobile-and-tablet" class="no-shadows amber">
        <div id="main-navbar" class="nav-wrapper row">
            <div class="nav-wrapper col s2 m2 l2">
                <a href="#" data-target="main-menu" class="sidenav-trigger show-on-small"><i class="material-icons">menu</i></a>
                <a href="#" style="margin-top:10px" class="show-on-medium-and-up"><img height="50" src="~/Resources/Images/logo.png" /></a>
            </div>
            <div class="nav-wrapper col s5">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="@Url.Action("Sales", "Home")">Inicio</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Categorias<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="@Url.Action("Support", "Customer")">Soporte ABM</a></li>
                    <li><a href="@Url.Action("Description", "Home")">Nuestra tienda</a></li>
                </ul>
            </div>
            <div class="nav-wrapper col s2 m2 l1">
                <div class="row">
                    <div class="col s6 m6 right-align">
                        <a href="@Url.Action("ShoppingCart", "Customer")"><i class="material-icons">shopping_cart</i></a>
                    </div>
                    <div class="col s6 m6 left-align">
                        <text id="shopping-cart-quantity">(<label style="color:inherit; font-size:inherit" id="cantProductos">0</label>)</text>
                    </div>
                </div>
            </div>
            @if (usuario != null)
            {
                <div class="nav-wrapper col s2 m2 l2">
                    <div class="row">
                        <div class="col s4 m4 right-align">
                            <a href="@Url.Action("UserProfile", "Customer")"><i class="material-icons">person</i></a>
                        </div>
                        <div class="col s8 m8 left-align">
                            <text id="customer-name">@usuario.usu_nombre</text>
                        </div>
                    </div>
                </div>
                <div class="nav-wrapper col s2 m2 l2">
                    <div class="row">
                        <div class="col s4 m4 right-align">
                            <a href="@Url.Action("Logout", "Cuenta")"><i class="material-icons">exit_to_app</i></a>
                        </div>
                        <div class="col s8 m8 left-align">
                            <a href="@Url.Action("Logout", "Cuenta")"><text id="customer-name">Cerrar Seisión</text></a>
                            
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="nav-wrapper col s4 m4 l4">
                    <div class="row">
                        <div class="col s4 m4 right-align">
                            <a href="@Url.Action("Login", "Cuenta")"><i class="material-icons">person</i></a>
                        </div>
                        <div class="col s8 m8 left-align">
                            <text id="customer-name">Login</text>
                        </div>
                    </div>
                </div>
            }
        </div>
	</nav>
	<div id="wrapper">
		<div class="container body-content">
			<ul class="sidenav" id="main-menu"></ul>
			<div id="modal-search" class="modal">
				<div class="modal-content">
					<!-- Desktop -->
					<div class="row hide-on-med-and-down center">
						<div class="col s2">
							<div class="chip">
								<a href="#" style="text-decoration:none;">Herramientas</a>
							</div>
						</div>
						<div class="col s2">
							<div class="chip">
								<a href="#" style="text-decoration:none;">Neumáticos</a>
							</div>
						</div>
						<div class="col s2">
							<div class="chip">
								<a href="#" style="text-decoration:none;">Llantas</a>
							</div>
						</div>
						<div class="col s2">
							<div class="chip">
								<a href="#" style="text-decoration:none;">Llaves</a>
							</div>
						</div>
						<div class="col s2">
							<div class="chip">
								<a href="#" style="text-decoration:none;">Martillos</a>
							</div>
						</div>
						<div class="col s2">
							<div class="chip">
								<a href="#" style="text-decoration:none;">Luces</a>
							</div>
						</div>
					</div>
					<!-- Mobile -->
					<div class="row hide-on-large-only">
						<a class="dropdown-trigger" href="#!" data-target="dropdown2">Categorias<i class="material-icons right">arrow_drop_down</i></a>
					</div>
					<h5 class="center">Ingrese su búsqueda</h5>
					<div class="row">
						<form class="col s12 m12 l12">
							<div class="row">
								<div class="input-field col s12 m12 l12">
									<div class="row">
										<div class="col s1 m1 l1 center-align">
											<label class="label-icon prefix" for="search"><i class="material-icons">search</i></label>
										</div>
										<div class="col s11 m11 l11">
											<input id="search" type="search" required>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			@RenderBody()
			<div class="fixed-action-btn click-to-toggle">
				<a href="#modal-search" id="floating-button" class="waves-effect waves-light modal-trigger btn-floating btn-large red pulse">
					<i class="large material-icons">search</i>
				</a>
			</div>
		</div>
		<footer class="page-footer blue-grey darken-4">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Contáctenos</h5>
						<div class="row">
							<div class="col">
								<i class="material-icons">local_phone</i>
							</div>
							<div class="col">
								<text class="grey-text text-lighten-4">+56912345678</text>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="material-icons">mail</i>
							</div>
							<div class="col">
								<a class="grey-text text-lighten-4">abm@abm.cl</a>
							</div>
						</div>
					</div>
					<div class="col l4 offset-l2 s12 right-align">
						<h5 class="white-text">Síguenos</h5>
						<ul style="margin-right:30px">
							<li>
								<a href="https://www.facebook.com"><img src='@Url.Content("~/Resources/Images/facebook.svg")' width="32" /></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container center">
					Hecho por el equipo de Resyst Softwares
				</div>
			</div>
		</footer>
		</div>
	<script>
		$(document).ready(function () {
			$('.sidenav').sidenav();
			$(".dropdown-trigger").dropdown();
			$('.modal').modal();
			$('.collapsible').collapsible();
			GetCantidadProductos();
		});
		function CrearAjax(success, data, url) {
			$.ajax({
				data: data,
				url: url,
				type:'post',
				success:success,
			});
		}
		function GetCantidadProductos() {
			$.ajax({
				type: 'post',
				url: '@Url.Action("GetProdsCant")',
				data: {},
				success: function (cantidad) {
					$('#cantProductos').html(cantidad);
				}
			});
		}
		function AgregarAlCarro(proId, cantidad) {
			CrearAjax(function (data) {
				//Success Function
				M.toast({html: data.mensaje });
				GetCantidadProductos();
			}, { proId: proId, cantidad: cantidad }, '@Url.Action("AgregarAlCarro")')
		}
	</script>
</body>
</html>
