<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>@ViewBag.Title - ABM Distribuidora</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/materialize")
	@RenderSection("scripts", required: false)
</head>
<body>
	<nav id="main-nav-mobile-and-tablet" class="no-shadows blue-grey">
		<div id="main-navbar" class="nav-wrapper row">
			<div class="nav-wrapper col s2 m2 l2">
				<a href="#" data-target="main-menu" class="sidenav-trigger show-on-small"><i class="material-icons">menu</i></a>
				<a href="#" style="margin-top:10px" class="show-on-medium-and-up"><img height="50" src="~/Resources/Images/logo.png" /></a>

			</div>
			<div class="nav-wrapper col s7 m7 l7">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="@Url.Action("Sales", "Home")">Inicio</a></li>
                    <li><a href="@Url.Action("Support", "Customer")">Soporte ABM</a></li>
                    <li><a href="@Url.Action("Description", "Home")">Nuestra tienda</a></li>
                </ul>
			</div>
			<div class="nav-wrapper col s2 m2 l2">
				<div class="row">
					<div class="col s4 m4 right-align">
						<a href='@Url.Action("UserProfile", "Customer")'<i class="material-icons">person</i></a>
					</div>
					<div class="col s8 m8 left-align">
						<text id="customer-name">Vicente</text>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
	</div>

	<footer class="page-footer blue-grey darken-4">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Contáctenos</h5>
					<div class="row">
						<div class="col">
							<i class="material-icons">local_phone</i>
						</div>
						<div class="col">
							<text class="grey-text text-lighten-4">+56912345678</text>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<i class="material-icons">mail</i>
						</div>
						<div class="col">
							<a class="grey-text text-lighten-4">abm@abm.cl</a>
						</div>
					</div>
				</div>
				<div class="col l4 offset-l2 s12 right-align">
					<h5 class="white-text">Síguenos</h5>
					<ul style="margin-right:30px">
						<li>
							<a href="https://www.facebook.com"><img src='@Url.Content("~/Resources/Images/facebook.svg")' width="32" /></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container center">
				Hecho por el equipo de Resyst Softwares
			</div>
		</div>
	</footer>
	<script>
		$(document).ready(function () {
			$('.sidenav').sidenav();
			$(".dropdown-trigger").dropdown();
			$('.modal').modal();
			$('.collapsible').collapsible();
			$('.tooltipped').tooltip();
		});
	</script>
</body>
</html>