<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>@ViewBag.Title - ABM Distribuidora</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<nav>
		<div class="navbar-wrapper purple darken-4">
			<a href="#" data-target="main-menu" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
			<img id="logo" src="~/Resources/Images/logo.png" height="38" />
			Test
		</div>
		<ul class="sidenav" id="main-menu"></ul>
	</nav>
	<div id="content-wrapper-before">
	</div>
	<div id="main" class="container body-content">
		@RenderBody()
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/materialize")
	@RenderSection("scripts", required: false)
	<script>
		$(document).ready(function () {
			$('.sidenav').sidenav();
		});
	</script>
</body>
</html>
