@model ABM.Datos.SQL.TBL_PRODUCTO
@{
    ViewBag.Title = "Información de Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>
<div class="col s12 m7" style="padding-top: 50px">
    <div class="card horizontal">
        <div class="card-image">
            <img src='@Url.Content("~/Resources/Images/Examples/car.png")' />
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title">
                    @Model.pro_nombre
                </span>
                @if (!string.IsNullOrEmpty(Model.pro_precio_oferta) && int.Parse(Model.pro_precio_oferta) > 0)
                {
                    <p id="caption-description-oldprice">
                        Antes: @Model.pro_precio.ToString("C0")
                    </p>
                    <p id="caption-description-offer">
                        Oferta: @((int.Parse(Model.pro_precio_oferta)).ToString("C0"))
                    </p>
                }
                else
                {
                    <p id="caption-description-normal-price">
                        Precio: @Model.pro_precio.ToString("C0")
                    </p>
                }
                @if (Model.pro_stock < Model.pro_critico || Model.pro_stock <= 0)
                {
                    <p id="caption-description-time-left">
                        Stock: @Model.pro_stock
                    </p>
                }
                else
                {
                    <p>
                        Stock: @Model.pro_stock
                    </p>
                }
                <p>
                    @Model.pro_detalle
                </p>
            </div>
            <div class="card-action center-align">
                <form class="col s12 m12 l12">
                    <div class="row">
                        @if (Model.pro_stock > Model.pro_critico && Model.pro_stock > 0)
                        {
                            <div class="input-field col s12 m12 l6">
                                <label for="quantity">Cantidad</label>
                                <input id="cantidad" type="number" name="cantidadDeCompra" min="1" value="1" max="@(Model.pro_stock - Model.pro_critico)">
                            </div>
                            <div class="input-field col s12 m12 l6">
                                <button type="button" class="waves-effect waves-light btn" id="agregar"><i class="material-icons left">add_shopping_cart</i>Agregar al carrito</button>
                            </div>
                        } else if (Model.pro_stock < Model.pro_critico && Model.pro_stock > 0){
                            <p>
                                Producto disponible solo en tienda.
                            </p>
                        }
                        else
                        {
                            <p>
                                Producto no disponible.
                            </p>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row center-align">
        <h3>Productos similares</h3>
    </div>
    <div class="row" style="padding-bottom: 50px">
        @for (int i = 0; i < 3; i++)
        {
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <i class="discount-figure">-13%</i>
                        <img src='@Url.Content("~/Resources/Images/Examples/moto.png")' />
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                    </div>
                    <div class="card-content center">
                        <span class="card-title">Moto Honda CB 190R 150cc</span>
                        <p id="caption-offer">¡Oferta!</p>
                        <p id="caption-offer-old-price">$250.000</p>
                        <p id="caption-offer-new-price">$200.000</p>
                    </div>
                    <!-- TODO Centrar esta parte -->
                    <div class="card-action center-align">
                        <a href='@Url.Action("Product", "Home")'>Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#cantidad').change(function (e) {
                var val = $(this).val();

                if (val > @(Model.pro_stock - Model.pro_critico)) {
                    e.preventDefault();
                    M.toast({ html: 'El valor excede el máximo' });
                }
            });

            $('#agregar').click(function (e) {
                e.preventDefault();
                var cantidad = $('#cantidad').val();
                AgregarAlCarro(@Model.pro_id, cantidad);
            });
        });
    </script>
}