@{
    ViewBag.Title = "Ofertas Destacadas";
    var ofertas = (List<ABM.Datos.SQL.TBL_PRODUCTO>)ViewBag.Sales;
    var otros = (List<ABM.Datos.SQL.TBL_PRODUCTO>)ViewBag.Productos;
}

<div class="container center">
    @if (ofertas != null && ofertas.Count > 0)
    {
        <h3 style="padding-top: 20px">Ofertas destacadas</h3>
        <div class="slider" id="ofertas-slider" style="background-size:100% auto;background-repeat: no-repeat;">
            <ul class="slides" style="background-size:100% auto;background-repeat: no-repeat;">
                @foreach (var item in ofertas)
                {
                    <li style="background-size:100% auto;background-repeat: no-repeat;">
                        <img src="@item.pro_imagen" id="@item.pro_id" class="producto" style="max-width : 100%; "> <!-- random image -->
                        <div class="caption center-align text-sombradito producto" id="@item.pro_id">
                            <h3 class="producto" id="@item.pro_id">@item.pro_nombre</h3>
                            <h5 class="light grey-text text-lighten-3 producto" id="@item.pro_id">@item.pro_detalle</h5>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }

    @if (otros != null && otros.Count > 0)
    {
        <h3>Los más vendidos</h3>
        <div class="slider" id="masvendidos-slider">
            <ul class="slides">
                @foreach (var item in otros)
                {
                    <li>
                        <img src="@item.pro_imagen" id="@item.pro_id" class="producto"> <!-- random image -->
                        <div class="caption center-align text-sombradito producto" id="@item.pro_id">
                            <h3>@item.pro_nombre</h3>
                            <h5 class="light grey-text text-lighten-3">@item.pro_detalle</h5>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }

</div>
@section scripts {
    <script>


        $(document).ready(function () {
            $("#ofertas-slider").slider({
                interval: 8000
            });
            $("#masvendidos-slider").slider({});
            $('.producto').click(function (e) {
                var id = $(this).attr('id');
                location.href = "@Url.Action("Product")?proId=" + id;
            });
        });
    </script>
}