@model ABM.Datos.SQL.TBL_CARRO_COMPRA
@{
    ViewBag.Title = "Carrito de Compras";
    Layout = "~/Views/Shared/_LayoutShoppingCart.cshtml";
}

<div class="row" style="padding-top: 50px">
    <h3>Carrito de compras</h3>
</div>
<div class="divider"></div>
<div class="section">
    <div class="row">
        <div class="col l2 center">
            <p>
                <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>Seleccionar todo</span>
                </label>
            </p>
        </div>
        <div class="col l3 center">
            <p>Producto</p>
        </div>
        <div class="col l1 center">
            <p>Precio</p>
        </div>
        <div class="col l2 center">
            <p>Cantidad</p>
        </div>
        <div class="col l2 center">
            <p>Total</p>
        </div>
        <div class="col l2 center">
            <p>Acciones</p>
        </div>
    </div>
</div>


@if (Model.NUB_CARRO_PRODUCTOS != null && Model.NUB_CARRO_PRODUCTOS.Count > 0)
{

    foreach (var item in Model.NUB_CARRO_PRODUCTOS)
    {
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col l1" id="CheckBox-product">
                    <p>
                        <label>
                            <input type="checkbox" checked="checked" />
                            <span></span>
                        </label>
                    </p>
                </div>
                <div class="col l1" id="Image">
                    <img src="~@item.TBL_PRODUCTO.pro_imagen" alt="" class="circle responsive-img" />
                </div>
                <div class="col l3" id="Product">
                    <p>@item.TBL_PRODUCTO.pro_nombre</p>
                </div>
                <div class="col l1" id="Price">
                    <p>@item.pro_monto</p>
                </div>
                <div class="input-field col l2 center" id="Quantity" style="text-align:center">
                    <input value="@item.carpord_cantidad" disabled placeholder="Cantidad" id="Quantity-input" type="text" class="validate center">
                    <label for="quantity"></label>
                </div>
                <div class="col l2 center" id="Total">
                    <p>@(item.pro_monto * item.carpord_cantidad)</p>
                </div>
                <div class="col l2 center" id="Actions">
                    <a class="btn tooltipped red" id="quitar" data-position="right" data-tooltip="Quitar"><i class="material-icons prefix">remove_circle_outline</i></a>
                </div>
            </div>
        </div>
    }
}

<div class="divider"></div>
<div class="row" style="padding-top:30px; padding-bottom:30px">
    <div class="col l6">
        <img class="responsive-img" src="~/Resources/Images/webpay.png" width="256" />
    </div>
    <div class="col l2 offset-l4">
        <button id="pagar" class="btn btn-large waves-effect"> Pagar</button>
    </div>
</div>

<form id="formWebPay" method="post" action="@ViewBag.Url">
    <input id="token" type="hidden" name="token_ws" value="@ViewBag.Token" />
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#pagar').click(function () {
                Pagar();
            });
        });

        function Pagar() {
            $.ajax({
                type: 'post',
                url: '@Url.Action("GetToken", "Pago")',
                data: {},
                success: function (data) {
                    if (data.exito) {
                        $('#token').val(data.data.result.token);
                        $('#formWebPay').attr('action', data.data.result.url);
                        $('#formWebPay').submit();
                    } else {
                        if (data.mensaje) {
                            M.toast(
                                {
                                    html: data.mensaje,
                                }
                            );
                        }
                    }
                },
            })
        }
    </script>
}